{% extends 'general_template.html' %}
{% block content %}
<div class="content">
    {% for i in range(count_records) %}
    <div class="top_content">
        <div class="left_panel">
            <ul class="image_grid">
                {% for photo in data['photos'][i] %}
                <li class="image"><img src="data:image/webp;base64,{{ photo | safe}}" alt="" width=""></li>
                {% endfor %}
            </ul>
        </div>
        <div class="right_panel" style="width: 34%">
            <div class="title_subtitle-container">
                <h1>
                    <span class="title">{{ data['title'][i] }}</span>
                    <span class="subtitle">{{ data['subtitle'][i] }}</span>
                </h1>
                <p class="ref">Артикул: {{ data['article'][i] }}</p>
            </div>
            <div class="more_details_and_materials-container">
                <p class="size">Больше деталей: <br>
                    {{ data['more_details'][i] | safe }}</p>
                <p class="size">Материалы: <br>
                    {{ data['materials'][i] | safe }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}